# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import requests

/var/folders/fp/d1yvcjld2vl3rty9fthld8t40000gn/T/ipykernel_45096/3562616568.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [55]:
with open("chipotle.tsv", "w") as f:
  res = requests.get("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")
  f.write(res.text)

chipo = pd.read_csv("./chipotle.tsv", sep="\t")

### Step 4. How many products cost more than $10.00?

In [56]:
# for removing dollar sign from the item_price column
remove_sign = lambda x: x[1:]
# convert item_price column to float
chipo["item_price"] = chipo["item_price"].apply(remove_sign).astype("float")
# drop duplicate values for item_name, quantity and choice_description
chipo_without_duplicates = chipo.drop_duplicates(chipo[[ "item_name", "quantity", "choice_description"]])
# find products that has more than 10 dollars unit price
chipo_without_duplicates.loc[(chipo_without_duplicates["quantity"] == 1) & (chipo_without_duplicates["item_price"] > 10)].head()

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [59]:
# remove duplicate items
chipo_filtered = chipo.drop_duplicates(chipo[["item_name", "quantity"]])
# load each items price with descending order
chipo_filtered.loc[chipo_filtered["quantity"] == 1][["item_name", "item_price"]].sort_values(by="item_price", ascending=False).head()

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
7             Steak Burrito       11.75
168   Barbacoa Crispy Tacos       11.75

### Step 6. Sort by the name of the item

In [60]:
chipo.sort_values(by="item_name").head()

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [46]:
# find most expensive item with max method and get it's fields
chipo.loc[chipo["item_price"].max() == chipo["item_price"]][["item_name", "quantity", "item_price"]]

                         item_name  quantity  item_price
3598  Chips and Fresh Tomato Salsa        15       44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [52]:
chipo.loc[chipo["item_name"] == "Veggie Salad Bowl"]["order_id"].count()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [53]:
chipo.loc[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)]["order_id"].count()

20